.navbar{
    width: 100%;
}
.navlink{
    /* padding-left: 4em; */
    margin: auto;
}
.btn{
    background-color:  #fe8503;
    border-radius: 5em;
}
.login{
    position: relative;
    left: 10em;
}