
ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
a:hover{
  color: #fe8503;
}
span {
  color: #fe8503;
}
input {
  width: 15em;
  height: 4em;
  padding: 20px;
  margin-top: 4em;
  font-size: 12px;
  position: relative;
  border: none;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
.ourmenu{
  color: #fe8503;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.btnn {
  width: 7em;
  height: 4em;
  margin-top: 4em;
  font-size: 12px;
  background: #fe8503;
  position:relative;
  border: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;

}
.inspiration{
  color: #fe8503;
  font-size: 1.5em;
  margin-bottom: 3em;
}
.menu{
  width: 10em;
  padding: 15px;
  color: #fe8503;
  height: 12em;
  border: none;
  border-radius: 2em;
  background: #2A3742;
  font-size: 10px;
}
.men{ 
  /* width: ; */
  margin: 5em;
  /* float: left; */
  /* gap: 30px; */
  /* justify-content: space-around; */

}
 .as{
  position: relative;
  left: 55em; 
}
.asf{
  position: relative;
  left: 40em
}
.asss{
  position: relative;
  left: 30em
}
.ase{
  position: relative;
  left: 15em;
} 
.meal{ 
   display: flex;
    /* margin-bottom: 20px;  */
   /* padding: 10px;  */
   justify-content: center;
   gap: 15px;
 } 

.foo{
  padding-top: 10px;
}
.chick{
  width: 300px;
}
.back{
 
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border: none;
  outline: none;
}
.basirat{
  padding-top:10em;
}
.semo{
  font-size: 12px;
}
.semo p{
  color: #fe8503;
}
.what{
  color: #fe8503;
  font-size: 1.5em;
  /* margin-bottom: 2em; */
  margin-top: 5em;
}
.hours{
  display: flex;
  /* justify-content: space-around; */
  column-gap: 3em;
}
.circle{
  width: 20em;
height: 25em;
background: #FE8503;
border-radius: 100%;
position: relative;
margin-bottom: 1em;
}
.chef{
  width: 13em;
height: 25em;
position: absolute;
}
.elli{
  width: 5em;
} 
.woman{
  display: flex;
  gap: 15px;
  margin-bottom: 2em;
}
.ellip{
  margin-left: 15em;
display: flex ;
gap: 0.2em;
}
.veg1{
  position: absolute;
  bottom: 16em;
  left: 8em;
  width: 8em;
}
.veg2{
  position: absolute;
  bottom: 10em;
  left: 21em;
  width: 8em;
}
/* .veg3{
  position: absolute;
  bottom: 22em;
  left: 35em;
} */
.veg4{
  position: absolute;
  bottom: 13em;
  left: 17em;
  width: 6em;
}
.veg5{
  position: absolute;
  bottom: 8em;
  left: 13em;
  width: 5em;
}
.veg6{
  position: absolute;
  bottom: 20em;
  left: 16em;
  width: 5em;
}
.veg7{
  position: absolute;
  bottom: 23em;
  left: 8em;
  width: 8em;
}