
ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
a:hover{
  color: #fe8503;
}
span {
  color: #fe8503;
}
input {
  width: 15em;
  height: 4em;
  padding: 20px;
  margin-top: 4em;
  font-size: 12px;
  position: relative;
  border: none;
}
.btnn {
  width: 7em;
  height: 4em;
  margin-top: 4em;
  font-size: 12px;
  background: #fe8503;
  position:relative;
border: none;
}
.inspiration{
  color: #fe8503;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.menu{
  width: 10em;
  padding: 15px;
  color: #fe8503;
  height: 12em;
  border: none;
  border-radius: 2em;
  background: #2A3742;
  font-size: 10px;

}
 .as{
  position: relative;
  left: 55em; 
}
.asf{
  position: relative;
  left: 40em
}
.asss{
  position: relative;
  left: 30em
}
.ase{
  position: relative;
  left: 15em;
} 
.meal{ 
   display: flex;
    /* margin-bottom: 20px;  */
   /* padding: 10px;  */
   justify-content: center;
   gap: 15px;
 } 

.foo{
  padding-top: 10px;
}
.chick{
  width: 300px;
}
.back{
 
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border: none;
  outline: none;
}
.basirat{
  padding-top:10em;
}
.semo{
  font-size: 12px;
}
.semo p{
  color: #fe8503;
}