.text{
    width: 23em;
    height: 3em;
    border-radius: 1em;
    border: none;
    outline: none;
    text-align: center;
}
.menu{
    width: 9em;
    padding: 15px;
    color: #fe8503;
    height: 12em;
    border: none;
    border-radius: 1em;
    background: #2A3742;
    font-size: 10px;
  }
  .me-nu{
    border: 2px solid #fe8503;
  }
  .rice-image{
    width: 100%;
  }
  .intact{
    position: relative;
  }
.word{
  position: absolute;
  top: 42%;
  color: white;
  font-size: 3rem;
  left: 33%;
  
  text-align: center;
  justify-content: center;
}
